@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
  font-family: "VT323", sans-serif;
}

.header-list {
  display: flex;
  justify-content: center;
}

.header-list .header-list-item {
  list-style: none;
  margin-right: 16px;
  font-size: 32px;
}

@media (min-width: 768px) {
  .header-list .header-list-item {
    font-size: 48px;
  }
}

.header-list .header-list-item:hover {
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.header-list .header-list-item a {
  text-decoration: none;
  color: #fff;
}

/* Content */

.content {
  margin-top: 80px;
}

@media (min-width: 768px) {
  .content {
    margin-top: 160px;
  }
}

.content .container {
  margin: 0 auto;
  width: 100%;
  max-width: 280px;
}

@media (min-width: 768px) {
  .content .container {
    max-width: 1288px;
  }
}

.title-area .title {
  font-weight: 400;
  font-size: 48px;
  text-align: center;
}

@media (min-width: 768px) {
  .title-area .title {
    max-width: 1288px;
  }
}

.info-area .info-text {
  font-size: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .info-area .info-text {
    font-size: 24px;
  }
}

.play-area {
  display: flex;
  justify-content: center;
}

.play-area {
  margin-top: 50px;
}

.play-area .play-buttom {
  font-size: 24px;
  padding: 8px 16px;
  border: 1px solid #fff;
}

@media (min-width: 768px) {
  .play-area .play-buttom {
    font-size: 42px;
    padding: 16px 32px;
  }
}

.play-area .play-buttom a {
  color: #fff;
}

.input-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

label .input-text {
  font-size: 32px;
}

.input-zone input {
  padding: 16px 32px;
  background: #000;
  border: 3px solid #fff;
  font-size: 24px;
  font-family: "VT323", monospace;
  color: #fff;
}

.input-zone input::placeholder {
  color: #fff;
}

.input-form button,
buttom,
.situation-inner-options button,
.results button {
  margin-top: 32px;
  background: #000;
  border: 3px solid #fff;
  padding: 5px 64px;
  color: #fff;
  font-family: "VT323", monospace;
  font-size: 24px;
}

/* RPG ZONE */

.rpg-zone {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.rpg-zone div {
  max-width: 280px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .rpg-zone div {
    max-width: 1288px;
  }
}

.rpg-zone p {
  font-size: 18px;
}

@media (min-width: 768px) {
  .rpg-zone p {
    font-size: 24px;
  }
}

buttom:hover {
  cursor: pointer;
}

.hud {
  width: 100%;
  margin-bottom: 50px;
}
.hud-inner {
  display: flex;
  justify-content: space-between;
  
}

.playerOptions {
  display: flex;
  flex-direction: column;
}

.playerOptions buttom {
  text-align: center;
}

.situation-inner-options {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.results {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 0px 0px;
}

@media (min-windth: 768px) {
  .situation-inner-options {
    flex-direction: row;
  }
}
