* {
  margin: 0px;
  padding: 0px;
}

.mainDiv {
  height: 100vh;
  width: 100vw;
  background-color: rgba(165, 42, 42, 0.411);
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("thumb-1920-1081933.jpg");
  background-attachment: fixed;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.centerText {
  height: fit-content;
  width: fit-content;
  background-color: gray;
  font-size: 22px;
  padding: 30px;
}

.secundaryDiv {
  height: 40vh;
  width: 100vw;

  background-image: url("thumb-1920-1102037.jpg");
  background-attachment: fixed;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
